<div class="p-3 text-center">
    <i class="bi bi-house"></i>
    <h1 class="mb-3">Welcome to our page!</h1>
    <p class="text-justify">

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, iste! Quos quo commodi a, sed vel numquam neque minima velit aliquid, eos necessitatibus magni amet ducimus assumenda dolorem praesentium accusantium!
        Alias, odio! Sunt similique eius laborum asperiores vitae, harum nam, rem repellendus eaque reiciendis facilis velit soluta quis ullam nobis. Vel dicta fuga in cum delectus, sapiente necessitatibus magni pariatur?
        Nam, provident. Itaque harum iste corporis ullam praesentium impedit ipsum cupiditate laudantium commodi, assumenda quidem nostrum quam! At iusto error, cupiditate sit commodi aliquam quis aperiam omnis et, dicta excepturi?
        <br>
        Doloremque voluptate ab labore, eveniet adipisci quia impedit neque id. Ea quibusdam aut asperiores fuga excepturi nesciunt cupiditate eligendi architecto iusto. Facilis assumenda ipsum labore ab odio minus nihil voluptatem!
        Dignissimos porro necessitatibus excepturi, cum, eligendi atque animi est dolores laborum nam, ex saepe! Modi, atque doloribus fuga ducimus quis nemo quas repellat minima, ex et quidem delectus. Assumenda, voluptas?
    </p>
</div>